
html {
  background-color: transparent;
  min-height: 100%;
  position: relative;
}

body{
  margin: 0;
  margin-bottom: 300px;
  background-color: rgb(220, 220, 220);
}

/* Modal */
.ReactModalPortal > div{
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  align-items: center;
  display: flex;
  justify-content: center;
  transition: opacity .2s ease-in-out;
  z-index: 999;
}

.modal-fondo {
  background-color: rgba(0, 0, 0, 0.3);
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}

.modal {
  background: white;
  border-radius: 5px;
  color: rgb(51, 51, 51);
  display: inline;
  max-height: 620px;
  max-width: 500px;
  outline: none;
  padding: 10px;
}

/* FABS */
.fab {
  border-radius: 100%;
  bottom: 25px;
  font-size: 30px;
  padding: 25px;
  position: fixed;
  right: 25px;
}

.fab-danger {
  border-radius: 100%;
  bottom: 25px;
  font-size: 22px;
  position: fixed;
  left: 25px;
  width: 70px;
  height: 70px;
}


.login-container {
  margin-top: 15%;
  display: flex;
  justify-content: center;
}

.login-form-1 {
  width: 360px;
  height: 380px;
  border-radius: 5px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
  padding: 5%;
  background: #899bb0;
}

.login-form-1 h3 {
  text-align: center;
  color: #333;
}

.login-form-2 {
  border-radius: 5px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
  padding: 5%;
  width: 360px;
  background: #0062cc;
}

.login-form-2 h3 {
  text-align: center;
  color: #fff;
}

.login-container form {
  padding: 10%;
}

.btnSubmit {
  border-radius: 1rem;
  padding: 1.5%;
  border: none;
  cursor: pointer;
  margin: 0px 10px;
}

.login-form-1 .btnSubmit {
  margin-top: 90px;
  color: #fff;
  background-color: #0062cc;
}

.login-form-2 .btnSubmit {
  background-color: #fff;
  color: #0062cc;
}

.login-form-2 .ForgetPwd {
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}

.login-form-1 .ForgetPwd {
  color: #0062cc;
  font-weight: 600;
  text-decoration: none;
}

a {
  color: rgb(37, 34, 34);
}

a:hover {
  color: rgb(37, 34, 34);
}

input[type="button"]{
    width:90%;
    margin-bottom: 22px;
    border: 1px solid #ccc;
    border-radius: 8px;
    height: 38px;
/*    box-shadow: rgba(33, 67, 180, .2) 0px -50px 26px -38px inset;*/
box-shadow: rgba(33, 67, 130, .3) 0px -50px 26px -38px inset;
    text-transform: uppercase;
    color: rgba(0,0,0, .7);
    color: rgba(33, 67, 90);
    font-weight: 500;
    letter-spacing: .4px;
}

input[type="button"]:hover{
    border-color: salmon;
}

input[type="button"]:focus{
    border: 1px solid salmon;
}

